.gutters {
  margin: 0 -10px;
}
.gutters [class*=col-] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
[class*=col-] {
  display: inline-block;
}
.columns {
  font-size: 0;
}