@import "grids_lite_variables";

.gutters {
  margin: 0 calc(#{$gutter-width} * -0.5);
}
.gutters [class*=col-] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 calc(#{$gutter-width} * 0.5);
}
[class*=col-] {
  display: inline-block;
}
.columns {
  font-size: 0;
}