.col-2-2 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
@media only screen and (min-width: 48em) {
  .col-2-2-med {
    width: 100%;
  }
  .col-1-2-med {
    width: 50%;
  }
}
@media only screen and (min-width: 64em) {
  .col-2-2-lrg {
    width: 100%;
  }
  .col-1-2-lrg {
    width: 50%;
  }
}
