.col-4-4 {
  width: 100%;
}
.col-3-4, {
  width: 75%;
}
.col-2-4 {
  width: 50%;
}
.col-1-4, {
  width: 25%;
}
@media only screen and (min-width: 48em) {
  .col-4-4-med {
    width: 100%;
  }
  .col-3-4-med, {
    width: 75%;
  }
  .col-2-4-med {
    width: 50%;
  }
  .col-1-4-med, {
    width: 25%;
  }
}
@media only screen and (min-width: 64em) {
  .col-4-4-lrg {
    width: 100%;
  }
  .col-3-4-lrg, {
    width: 75%;
  }
  .col-2-4-lrg {
    width: 50%;
  }
  .col-1-4-lrg, {
    width: 25%;
  }
}
