.col-8-8 {
  width: 100%;
}
.col-7-8 {
  width: 87.5%;
}
.col-6-8 {
  width: 75%;
}
.col-5-8 {
  width: 62.5%;
}
.col-4-8 {
  width: 50%;
}
.col-3-8 {
  width: 37.5%;
}
.col-2-8 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
@media only screen and (min-width: 48em) {
  .col-8-8-med {
    width: 100%;
  }
  .col-7-8-med {
    width: 87.5%;
  }
  .col-6-8-med {
    width: 75%;
  }
  .col-5-8-med {
    width: 62.5%;
  }
  .col-4-8-med {
    width: 50%;
  }
  .col-3-8-med {
    width: 37.5%;
  }
  .col-2-8-med {
    width: 25%;
  }
  .col-1-8-med {
    width: 12.5%;
  }
}
@media only screen and (min-width: 64em) {
  .col-8-8-lrg {
    width: 100%;
  }
  .col-7-8-lrg {
    width: 87.5%;
  }
  .col-6-8-lrg {
    width: 75%;
  }
  .col-5-8-lrg {
    width: 62.5%;
  }
  .col-4-8-lrg {
    width: 50%;
  }
  .col-3-8-lrg {
    width: 37.5%;
  }
  .col-2-8-lrg {
    width: 25%;
  }
  .col-1-8-lrg {
    width: 12.5%;
  }
}
