.col-3-3 {
  width: 100%;
}
.col-2-3, {
  width: 66.66666666%;
}
.col-1-3, {
  width: 33.33333333%;
}
@media only screen and (min-width: 48em) {
  .col-3-3-med {
    width: 100%;
  }
  .col-2-3-med, {
    width: 66.66666666%;
  }
  .col-1-3-med, {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 64em) {
  .col-3-3-lrg {
    width: 100%;
  }
  .col-2-3-lrg, {
    width: 66.66666666%;
  }
  .col-1-3-lrg, {
    width: 33.33333333%;
  }
}
